.modal {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100%;
  background: rgba(0, 0, 0, 0.75);
  display: none;
  justify-content: center;
  align-items: center;
}
.modal.isOpen {
  display: flex;
}

.modalContainer{
  position: relative;
  background-color:#FFF ;
  min-width: 300px;
  max-width: 600px;
  min-height: 200px;
  max-height: 400px;
  overflow-y: auto;
  padding: 1rem;
  scrollbar-color: black rgba(0,0,0,.75) ;
  scrollbar-width: thin;
}
.modalClose{
  position:absolute;
  top:1rem;
  right: 1rem;
  border: 1px gray solid;
  padding: .4rem;


}