.contenedor-imagenes {
display: grid;
grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
grid-gap: 4;
}
.contenedor-imagen{
  transition: all .4s;
}
.contenedor-imagen img{
  cursor: pointer;
  transition: all .5s;
}
.contenedor-imagen:hover img{
  transform: scale(1.1);
}
.contenedor-imagen:hover{
  transform: translateY(-5px);
}
